<p class="label label-danger" ng-message="required">Vui lòng không được để trống!</p>
<p class="label label-danger" ng-message="minlength">Số lượng ký tự không đủ độ dài!</p>
<p class="label label-danger" ng-message="maxlength">Số lượng ký tự vượt quá cho phép!</p>
<p class="label label-danger" ng-message="email">Vui lòng nhập đúng định dạng email!</p>
<p class="label label-danger" ng-message="pattern">Vui lòng nhập đúng định dạng yêu cầu!</p>
<p class="label label-danger" ng-message="min">Năm sinh bé nhất là năm 2002!</p>
<p class="label label-danger" ng-message="max">Năm sinh lớn nhất là năm 2012!</p>