.album-item{
	position: relative;
}

.album-info{
	position: absolute;
	bottom: 0px;
	margin: 0px 10% 0px;
}
.album-info a{
	color: #fff;
	text-decoration: none;
	text-shadow: 0px 0px 5px #111;
}

.album-info a:hover{
	text-shadow: 0px 0px 5px red;
}

.album-info p{
	color: #fff;
	text-shadow: 0px 0px 3px #111;
}

.search{
	display: inline-table;
	margin: 8px 10px;
	max-width: 400px;
	width: 100%;
}

.search-result{
	width: 340px;
	margin: 0px 10px;
	max-height: 300px;
	overflow-y: scroll;
}

.search-result-header{
	font-size: 12px;
	color: #aaa;
	background: #f5f5f5;
	padding: 3px;
}
.search-page .form-control{
	max-width: 100% !important;
}

.circle{
	max-width: 150px;
	background: #30a2ee;
	border-radius: 50%;
	border: none;
	color: #fff;
	font-size: 20px;
}

.circle-100{
	width: 100px;
	height: 100px;
}

.circle-80{
	width: 80px;
	height: 80px;
}

.input-error{
	position: absolute;
	top: 100%;
}

.list-word{
	display: inline-block;
}
.correct-word{
	float: left;
	background: url('../images/bg-green-circle.png') no-repeat;
	background-size: 100% 100%;
	width: 50px;
	height: 50px;
	font-size: 35px;
}
.clearfix{
	clear: both;
}

.incorrect-top{
	top: 3%;
}
.incorrect-bottom{
	top: 10%;
}

.incorrect-word{
	float: left;
	background: url('../images/bg-red-circle.png') no-repeat;
	background-size: 100% 100%;
	width: 35px;
	height: 35px;
	font-size: 25px;
}

.incorrect-word-top{
	margin-right: 20px;
}
.incorrect-word-bottom{
	margin-left: 20px;
}
.incorrect-flag{
	margin-left: 35px;
}
@media only screen and (min-width: 768px) {
	.form-control{
		max-width: 300px;
	}
}
@media only screen and (max-width: 768px) {
	.correct-word{
		width: 35px;
		height: 35px;
		font-size: 25px;
	}
	.incorrect-bottom{
		top: 8%;
	}
	.incorrect-word{
		width: 25px;
		height: 25px;
		font-size: 18px;
	}

	.incorrect-word-top{
		margin-right: 13px;
	}
	.incorrect-word-bottom{
		margin-left: 13px;
	}
	.incorrect-flag{
		margin-left: 25px;
	}
}
@media only screen and (max-width: 368px) {
	.correct-word{
		width: 20px;
		height: 20px;
		font-size: 15px;
	}
	.incorrect-bottom{
		top: 10%;
	}
	.incorrect-word{
		width: 18px;
		height: 18px;
		font-size: 13px;
	}

	.incorrect-word-top{
		margin-right: 9px;
	}
	.incorrect-word-bottom{
		margin-left: 9px;
	}
	.incorrect-flag{
		margin-left: 15px;
	}
}